{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier/react"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": ["error", "as-needed"],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error", "log"]
      }
    ],
    "no-shadow": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "linebreak-style": "off",
    "object-curly-newline": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
